:root {
  --main-color: #312d2d;
  --main-font: "Croissant One";
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: "Croissant One", cursive;
}

.main-container {
  padding: 3rem;
}

body,
h1 {
  margin: 0;
}

body {
  background-image: url(/images/backround.avif);
}

.header > h1 {
  padding: 25px;
  color: #e9edf0;
  text-align: center;
}

button {
  margin: 0;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 450px;
  border: 3px solid var(--main-color);
  box-shadow: 10px 5px 5px var(--main-color);
  background: #e9edf0;
  border-radius: 10%;
}

.game-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 450px;
  border: 3px solid var(--main-color);
  box-shadow: 10px 5px 5px var(--main-color);
  background: #e9edf0;
  border-radius: 10%;
}

.card-reverse {
  visibility: hidden;
  background-image: url(/images/card.jpg);
}

.top-suit {
  display: flex;
  justify-content: baseline;
  padding: 25px;
}

.bottom-suit {
  display: flex;
  justify-content: end;
  padding: 25px;
}

.number {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.user-span {
  font-size: 3rem;
  color: #d31515;
}

.game-span {
  font-size: 3rem;
  color: #0b0b0b;
}
