:root {
  --main-color: #312d2d;
  --main-font: "Croissant One";
  --light-color: #e9edf0;
  --font-size: 2rem;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: "Croissant One", cursive;
  background-image: url(/images/backround.avif);
  background-size: cover;
}

.main-container {
  padding: 16px;
}

body,
h1 {
  margin: 0;
}

.header > h1 {
  padding: 15px;
  color: var(--light-color);
  font-size: 3rem;
  text-align: center;
}

button {
  margin: 0;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 230px;
  height: 350px;
  border: 3px solid var(--main-color);
  box-shadow: 10px 5px 5px var(--main-color);
  background: var(--light-color);
  border-radius: 15px;
}

.game-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 230px;
  height: 350px;
  border: 3px solid var(--main-color);
  box-shadow: 10px 5px 5px var(--main-color);
  background: var(--light-color);
  border-radius: 15px;
}

.card-reverse {
  background-image: url(/images/card.jpg);
  background-size: cover;
}

.card-upwards {
  background-color: var(--light-color);
}

.top-suit {
  display: flex;
  padding: 15px;
  font-size: var(--font-size);
}

.bottom-suit {
  display: flex;
  justify-content: end;
  padding: 15px;
  font-size: var(--font-size);
}

.number {
  display: flex;
  justify-content: center;
  padding: 15px;
  font-size: 3rem;
}

.game-span-suit {
  display: flex;
  padding: 15px;
  font-size: var(--font-size);
}

.bottom-game-suit {
  display: flex;
  justify-content: end;
  padding: 15px;
  font-size: var(--font-size);
}

.game-card-number {
  display: flex;
  justify-content: center;
  padding: 15px;
  font-size: 3rem;
}

.suit {
  font-size: 3rem;
  color: #d31515;
}

.game-span {
  font-size: 3rem;
  color: var(--main-color);
}

.buttons {
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 20px;
}

.button {
  width: 120px;
  height: 55px;
  border-radius: 10px;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 1.25rem;
}

.smaller-button {
  margin: 15px;
}

.greater-button {
  margin: 15px;
}

.start-menu {
  display: flex;
  justify-content: space-evenly;
}

.start-button {
  width: 120px;
  height: 55px;
  border-radius: 10px;
  padding: 10px;
  font-family: var(--main-font);
  margin: 15px;
}

@media (hover: hover) {
  .button:hover {
    color: var(--main-color);
    background: #a9bdaf;
  }
}

.hidden {
  display: none;
}

.result-message {
  display: flex;
  justify-content: center;
  height: 80px;
  padding: 20px;
  color: var(--light-color);
  font-size: var(--font-size);
}

.bettingContainer {
  display: flex;
  flex-direction: column;
}
